/***** Padrao *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
/*
.container{
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
    height: 100%;
}
*/
/***** fim Padrao *****/


/********** Cabeçalho ***********/
.cabecalho{
    margin: 0px 120px 0px 120px;
    height: 60px;
    background: black;
    color: white;
}

.logo{
    padding: 16px;
    border: 1px solid blue;
    height: 60px;
    float: left;
}

.menu ul li {
    display: inline-block;
    padding: 16px;
    border: 1px solid blue;
    height: 60px;
    float: right;
}

.menu {
    float: right;
}


/********** fim Cabeçalho ***********/


/********** corpo ***********/
.container{
    height: 100%;
    background: pink;
    border: 5px solid red;
}

.geral{
    background: black;
    height: 100%;
}

.conteudo_geral{
    display: initial;
    background: yellow;
    border: 5px solid blue;
}

/*********** conteudo 1 ************/
.conteudo_1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    float: left;
    height: 100%;
    background: #E0E0F8;
    border: 5px solid blueviolet;
}

.Conteudo_h1{
    margin-top: 50px; 
}

#entrar{
    text-align: center;
    margin: 100px 20% 0px 20%;
}

/*********** fim conteudo 1 ************/


/*********** inicio conteudo 2 ************/
.conteudo_2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    float: left;
    height: 100%;
    background: #E0E0F8;
    border: 5px solid #007bff;
}

.conteudo_produtos{
    border: 1px solid red;
}

.conteudo_id{
    margin: 5px;  
}

/*********** fim conteudo 2 ************/



/********** fim corpo ***********/


/********** rodape ***********/
.rodape{
    height: 60px;
    background: #ccc;
}

.rodape_1{
    padding: 16px;
    text-align: center;
    border: 1px solid black;
}
/********** fim rodape ***********/











/****************inicio da responsividade parcial*****************/
@media screen and (min-width: 100px) and (max-width: 600px) {

}

@media screen and (max-width: 601px) and (max-width: 5000px) {
    
}

/****************fim da responsividade parcial*****************/